# **PYODBC - Python Object Database Connection**

In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\hp\anaconda3\lib\site-packages (4.0.34)

In [2]:
import pyodbc as odbc

In [3]:
import pyodbc

drivers = [driver for driver in pyodbc.drivers()]
print("Available ODBC Drivers:")
for driver in drivers:
    print(driver)

Available ODBC Drivers:
SQL Server
ODBC Driver 17 for SQL Server

**Once, this procedure is completed, we will now establish the connection between the server and the python enviroment**

In [4]:
DRIVER_NAME = 'SQL Server'
SERVER_NAME = 'BABUSANAGARI'

**We are going to establish the connection, so the database name is required**

In [5]:
# You need to select the database in which you want work
DATABASE_NAME = 'SQLclass1'

**Let's establish the connection**

# Read Table From SQLSERVER TABLE

In [6]:
connection_string = (
    f'DRIVER={{SQL Server}};'
    f'SERVER=BABUSANAGARI;'
    f'DATABASE=SQLclass1;'
    f'Trusted_Connection=yes;'
    # f'Trust_Connection=yes;'
)

In [7]:
conn = odbc.connect(connection_string)

In [8]:
import warnings
warnings.filterwarnings("ignore")

In [9]:
import pyodbc
import pandas as pd
# SQL query to retrieve data from a table
query = "SELECT * FROM EMP"  #  'your_table_name'

# Load data into a Pandas DataFrame
data = pd.read_sql_query(query, conn)

# Display the data
print(data.head())  # Display the first 5 rows
print("\nDataset shape:", data.shape)  # Print the dataset's shape

    EMPNO   ENAME        JOB     MGR    HIREDATE     SAL   COMM  DEPTNO
0  6540.0  prabha       None     NaN        None     NaN    NaN     NaN
1  7499.0   ALLEN   SALESMAN  7698.0  1981-02-20  1600.0  300.0    30.0
2  7566.0   JONES    MANAGER  7839.0  1981-04-02  2975.0    NaN    20.0
3  7788.0   SCOTT    ANALYST  7566.0  1982-12-09  3000.0    NaN    20.0
4  7839.0    KING  PRESIDENT     NaN  1981-11-17  5000.0    NaN    10.0

Dataset shape: (6, 8)